body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.intro-text{
    font-size: 30px;
    line-height: 20px;  
}

section{
    height: 650px;
}

.navbar{
    padding-right: 100px;
}
.navbar h4{
    float: right;
    padding-right: 40px;
}

.name{
    color: blue;
}
.name2{
    color: tomato;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.text-r{
    margin-top: 50%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(225, 65, 158);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.project-card{
    width: 27%;
    float: left;
    margin: 0px 3%;
    background-color: tan;
    border-radius: 5%;

}
.project-card img{
    width: 90%;
    margin: 10px 5%;
}
.style{
    margin-left: 38%;

}

.project-text{
    margin-left: 10px;
}
.new3{
    background-image: url("Group_33094_1.png");
    width: 1000px;
    height: 250px;
    margin-left: 13%;
    background-size: 1000px 250px;
    background-repeat: no-repeat; 
    margin-top: 40px;
}

.new4{
    padding-top: 100px;
}

.new4-left{
    float: left;
    margin-left: 20%;
    color: white;
    font-family: 'Anton', sans-serif;
  
}

.new4-right{
    float: right;
    margin-right: 20%;
    margin-top: 40px;
}